<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/static/plugin/nifty/css/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="/static/plugin/nifty/css/nifty.min.css" rel="stylesheet">
  <!--SCRIPT-->
    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="/static/plugin/nifty/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="/static/plugin/nifty/plugins/pace/pace.min.js"></script>
</head>

<body>
	<div id="container" class="cls-container">
		
		<!-- HEADER -->
		<!--===================================================-->
		<div class="cls-header">
			<div class="cls-brand">
				<a class="box-inline" href="index.html">
					<!-- <img alt="Nifty Admin" src="images/logo.png" class="brand-icon"> -->
					<span class="brand-title">页面不存在</span>
				</a>
			</div>
		</div>
		
		<!-- CONTENT -->
		<!--===================================================-->
		<div class="cls-content">
			<h1 class="error-code text-warning">NOT FOUND</h1>
			<p class="h4 text-thin pad-btm mar-btm">
				<i class="fa fa-exclamation-circle fa-fw"></i>
				Sorry, 您访问的当前页面不存在
			</p>

			<br>
			<div class="pad-top"><a class="btn-link" href="{% url 'index' %}">Back to Homepage</a></div>
		</div>
		
		
	</div>

	<!--jQuery [ REQUIRED ]-->
	<script src="/static/plugin/nifty/js/jquery-2.1.1.min.js"></script>


	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="/static/plugin/nifty/js/bootstrap.min.js"></script>


	<!--Fast Click [ OPTIONAL ]-->
	<script src="/static/plugin/nifty/plugins/fast-click/fastclick.min.js"></script>

	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="/static/plugin/nifty/js/nifty.min.js"></script>


</body>
</html>

